Flask
nltk
pandas
joblib
autocorrect
gunicorn
numpy
plotly
pyLDAvis
contractions
sklearn
spacy
gensim
Flask-SQLAlchemy
requests
itsdangerous
Werkzeug
httptools
pip
pyOpenSSL
backports.csv
beautifulsoup4
certifi
cffi
chardet
cheroot
CherryPy
click
cryptography
dataclasses
feedparser
filelock
future
idna
importlib-metadata
importlib-resources
jaraco.classes
jaraco.collections
jaraco.functools
jaraco.text
Jinja2
lxml
MarkupSafe
more-itertools
mysqlclient
packaging
Pattern
pdfminer.six
portend
pycparser
pyparsing
python-dateutil
python-docx
pytz
regex
sacremoses
scikit-learn
scipy
sgmllib3k
six
sortedcontainers
soupsieve
tempora
threadpoolctl
tokenizers
tqdm
transformers
typing-extensions
urllib3
zc.lockfile
zipp